{% extends 'forge/base.html' %}
{% block content %}
<div class="paragraphs">
  <div class="row">
  {% for world in worlds %}
    <div class="span4 mb-2">
      <a href="{% url 'tile_index' world.creator.username world.name %}">
        <img class="mr-1 hover_img" style="float:left" src="{{ world.image_thumb.url }}"/>
      </a>
      <div class="content-heading" style=" overflow:hidden; line-height: 1.2em; max-height: 7.2em">
        <h3>{{ world.name }}</h3>
        <p>{{ world.description }}</p>
      </div>
      <p>. . .</p>
      <div style="clear:both"></div>
    </div>
  {% endfor %}
  </div>
</div>
</br>
{% endblock %}
