{% extends 'forge/base.html' %}
{% load static %}
{% block title %}
- Category Detail
{% endblock %}
{% block content %}
{% if world.is_public or is_user %}
  <div class='container mb-2 mr-2'>
    <h1> {{ category.name }}
        {% if is_user %}
        <a href="{% url 'update_category' category.pk user.username world.name category.name %}"> (Edit)</a>
        {% endif %}
    </h1>
    <p>{{ category.description }}</p>
    <hr/>
      <a href="{% url 'category_index' user_obj.username world.name %}">
        <button>Category Index</button>
      </a>
      <a href="{% url 'world_detail' user_obj.username world.name %}">
          <button>World Detail</button>
      </a>
  </div>
  <hr/>
  <div class="row">
  {% for thing in things %}
    <div class="mb-1 mr-1">
      <a href="{% url 'thing_detail' user_obj.username world.name category.name thing.name %}" style='text-decoration: none'>
          <img src="{{ thing.image_thumb.url }}" title="{{ thing.name }}">
      </a>
    </div>
  {% endfor %}
  {% if is_user %}
    <div class="mb-1 mr-1">
      <a href="{% url 'create_thing' user_obj.username world.name 'created_from_category_detail' category.name %}">
        <img src="{% static 'forge/add_item.png' %}" title="Add new thing to {{ category.name }}">
      </a>
    </div>
  </div>
  <hr/>
</br>
  <div class="container">
      <h2><a href="{% url 'delete_category' category.pk user.username world.name category.name %}"> Delete</a></h2>
  </div>
</br>
{% endif %}
{% else %}
<h2> This world is set to private</h2>
{% endif %}
{% endblock %}