{% extends 'forge/base.html' %}
{% load static %}

{% block title %}
Tile Index
{% endblock %}

{% block content %}
<div class="center-div">
  {% include 'forge/sub_nav.html' %}
  <a href="{% url 'world_detail' user_obj.username world.name %}">
    <h1> {{ world.name }}</h1>
  </a>
</div>
<div>
  </br></br>
    <table id="tile_table">
      <tbody>
        {% if tile_matrix %}
          {% for tile_row in tile_matrix %}
          <tr>
            {% for tile in tile_row %}
              {% if tile.adj and can_add_tile %}
                <td class="blank_adj">
                  <a href="{% url 'create_tile' user_obj.username world.name tile.h_pos tile.v_pos %}">
                    <img src="{% static 'forge/blank_adj.jpg' %}" class="img-responsive" class="blank_adj thumbnail">
                  </a>
                </td>
              {% elif tile.adj and can_edit %}
                <td class="blank_adj">
                  <img src="{% static 'forge/blank_adj.jpg' %}" class="img-responsive" class="blank_adj thumbnail" style="opacity:.3" title="Cannot add more tiles">
                </td>
              {% elif tile.creator %}
                <td id="tile_thumb">
                  <a href="{% url 'tile_detail' tile.creator.username tile.world.name tile.name %}"  title="{{ tile.name }}">
                      {% if tile.image %}
                      <img src="{{ tile.image.url }}" class="img-responsive" class="thumbnail">
                      {% else %}
                      <img src="{% static 'forge/default_tile.jpg' %}"/>
                      {% endif %}
                  </a>
                </td>
              {% else %}
              <td id="blank_thumb">
                <img src="{% static 'forge/blank.jpg' %}" class="img-responsive" class="blank thumbnail">
              </td>
              {% endif %}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        {% else %}
        <h1> no tiles to display :/</h1>
        {% endif %}
      </tbody>
    </table>
  </div>
  <style>
  table {
    margin: 0 auto;
  }
  .blank_adj:hover {
    opacity:.5;
  }
  </style>
  <script>
  </script>
{% endblock %}
