<!-- Thiswill function as the detail page for each individual 'tile' -->
{% extends 'forge/base.html' %}
{% load static %}
{% block title %}
- Tile Detail
{% endblock %}
{% block content %}
{% if world.is_public or can_edit %}
<div class="center-div">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link {{ home_active }}" href="{% url 'forge_home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ user_active }}" href="{% url 'world_index' user_obj.username  %}">{{ user_obj.username }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ world_active }}" href="{% url 'world_detail' user_obj.username world.name %}">{{ world.name }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ tiles_active }}" href="{% url 'tile_index' user_obj.username world.name %}">Tile Index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ categories_active }}" href="{% url 'category_index' user_obj.username world.name  %}">Categories</a>
    </li>
    <hr/>
</ul>
<hr/>
  <a href="{% url 'world_detail' user_obj.username world.name %}">
    <h1> {{ world.name }}</h1>
  </a>
    <hr/>
    <h1>{{ tile.name }}
      {% if can_edit %}
      <a href="{% url 'update_tile' tile.pk user.username world.name tile.name %}"> (Edit)</a>
      {% endif %}
    </h1>
  <div class="container">
    <img src="{{ tile.image.url }}">
  </div>
  <div class="container">
  <p> {{ tile.description }}</p>
  <p> {{ tile.story }}</p>
  <hr/>
  {% for category in categories %}
    <div class="container mb-1 mr-1">
      <a href="{% url 'category_detail' user_obj.username world.name category.name %}">
          <h4 style="text-decoration:none">{{ category.name }}</h4>
      </a>
      <div class="row">
      {% for thing in things %}
        {% if thing.category == category %}
        <div class="mb-1 mr-1">
          <a href="{% url 'thing_detail' user_obj.username world.name category.name thing.name %}">
            <img src="{{ thing.image_thumb.url }}" title="{{ thing.name }}">
          </a>
        </div>
        {% endif %}
      {% endfor %}
      {% if can_edit %}
        <div class="mb-1 mr-1">
          <a href="{% url 'create_thing' user_obj.username world.name tile.name category.name %}">
            <img src="{% static 'forge/add_item.png' %}" title="Add New Thing">
          </a>
        </div>
      {% endif %}
      </div>
    </div>
    <hr/>
  {% endfor %}
  </div>
  {% if can_edit %}
<div class="container">
  <a href="{% url 'create_category' user.username world.name tile.name %}">
    <img src="{% static 'forge/add_item.png' %}" title="Add New Category">
  </a>
</div>
</div>
<hr/>
</br>
<div class="center-div">
    <h2><a href="{% url 'delete_tile' tile.pk user_obj.username world.name tile.name%}"><button class="btn btn-outline-danger">Delete {{ tile.name }}</button></a></h2>
</div>
</br>
  {% endif %}
{% else %}
<h2> This world is set to private</h2>
{% endif %}
{% endblock %}