<!-- Thiswill function as the detail page for each individual 'tile' -->
{% extends 'forge/base.html' %}
{% load static %}
{% block title %}
- Tile Detail
{% endblock %}
{% block content %}
{% if world.is_public or can_edit %}
<div class="center-div">
  {% include 'forge/sub_nav.html' %}
  <a href="{% url 'world_detail' user_obj.username world.name %}">
    <h1> {{ world.name }}</h1>
  </a>
    <hr/>
    <h1>{{ tile.name }}
      {% if can_edit %}
      <a href="{% url 'update_tile' tile.pk user.username world.name tile.name %}"> (Edit)</a>
      {% endif %}
    </h1>
  <div class="container">
      {% if tile.image %}
      <img src="{{ tile.image.url }}"/>
      {% else %}
      <img src="{% static 'forge/default_tile.jpg' %}"/>
      {% endif %}
  </div>
  <div class="container">
  <p> {{ tile.description }}</p>
  <p> {{ tile.story }}</p>
  <hr/>
  {% include 'forge/categories_things.html' %}
  </div>
  {% if can_edit %}
  <div class="center-div">
      <h2><a href="{% url 'delete_tile' tile.pk user_obj.username world.name tile.name%}"><button class="btn btn-outline-danger">Delete {{ tile.name }}</button></a></h2>
  </div>
  {% endif %}
{% else %}
<h2> This world is set to private</h2>
{% endif %}
{% endblock %}