{% extends 'forge/base.html' %}

{% load static %}
{% block title %}
- World Detail
{% endblock %}

{% block content %}


{% if world.is_public or can_edit %}
  <div class='container center-div'>
    {% include 'forge/sub_nav.html' %}
    <h1>{{ world.name }}
        {% if can_edit %}
        <a href="{% url 'update_world' world.pk user_obj.username world.name %}">(Edit)</a>
        {% endif %}
    </h1>
    <div>
        {% if world.image %}
        <img src="{{ world.image.url }}" class="img-fluid">
        {% else %}
        <img src="{% static 'forge/default_world.jpg' %}" class="img-fluid"/>
        {% endif %}
    </div>
  </br>
    <small>{{ world.genre }}</small>
    <p class="description-content">{{ world.description | linebreaksbr }}</p>
    <p class="story-content">{{ world.story | linebreaksbr }}</p>
  <hr/>
  {% include 'forge/tile_list.html' %}
  <hr/>
  {% include 'forge/categories_things.html' %}
</div>
<hr/>
</br>
{% else %}
<h2> This world is set to private</h2>
{% endif %}
{% endblock %}
<!--
<div class="row-fluid">
  <div class="horizontal-scroll-container">
    {% for tile in tiles %}
    <div class="horizontal-scroll-item">
      <a href="{% url 'tile_detail' user_obj.username world.name tile.name %}">
        <img src="{{ tile.image_thumb.url }}" title="{{ tile.name }}" class="hover_img">
      </a>
    </div>
    {% endfor %}
    {% if can_add_tile %}
    <div class="horizontal-scroll-item">
      <a href="{% url 'tile_index' user_obj.username world.name %}">
        <img src="{% static 'forge/add_item.png' %}" title="Create New Tile" class="hover_img">
      </a>
    </div>
    {% elif can_edit %}
    <div class="horizontal-scroll-item">
      <img src="{% static 'forge/add_item.png' %}" style="opacity:.3" title="Cannot create more Tiles">
    </div>
    {% endif %}
  </div>
</div>
<style>
.horizontal-scroll-container {
    height: 180px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.horizontal-scroll-item {
    position: relative;
    display: inline-block;
    margin: 2px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
-->