{% extends 'forge/base.html' %}
{% load static %}
{% block title %}
- World Index
{% endblock %}
{% block content %}
<div class="center-div">
    {% include 'forge/sub_nav.html' %}
    <h1>{{ user_obj.username }}</h1>
    <hr/>
    {% for world in worlds %}
      <div class="mb-1 mr-1">
        <a href="{% url 'world_detail' user_obj.username world.name %}">
            {% if world.image_thumb %}
            <img src="{{ world.image_thumb.url }}" title="{{ world.name }}" class="hover_img"/>
            {% else %}
            <img src="{% static 'forge/default_world_thumb.jpg' %}"/>
            {% endif %}
        </a>
      </div>
    {% endfor %}
    {% if can_add_world %}
      <hr/>
      <div class="container">
        <a href="{% url 'create_world' user.username %}"><img src="{% static 'forge/add_item.png' %}" title="Create New World" class="hover_img"></a>
      </div>
    {% elif can_edit %}
      <div class="container">
        <a href="#"><img src="{% static 'forge/add_item.png' %}" style="opacity:.3" title="Cannot create more worlds"></a>
      </div>
    {% endif %}
</div>
{% endblock %}