{% extends 'forge/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <div class="content-section">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form | crispy }}
            {{ p_form | crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>
  <div>
    <h1>Allowances</h1>
    <h5>Maximum Worlds: {{ max_worlds }}</h5>
    <h5>Maximum Tiles per World: {{ max_tiles }}</h5>
    <h5>Maximum Categories per World: {{ max_categories }}</h5>
    <h5>Maximum Things per World: {{ max_things }}</h5>
    <hr/>
    <h1>My Worlds</h1>
    {% for world in user_worlds %}
      <div class="mb-2">
        <img src="{{ world.image_thumb.url }}">
        <a href= "{% url 'world_detail' user.username world.name %}"><button class="btn btn-outline-primary">View</button></a>
        <a href= "{% url 'delete_world' world.pk user.username world.name %}"><button class="btn btn-outline-danger">Delete</button></a>
      </div>
      <hr/>
    {% endfor %}
  </div>
{% endblock %}