body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  margin-left: 3rem
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}



table {
  margin: auto;
  table-layout:fixed;
  text-align: center;
}
table td {
  width: 150px;
}

table img {
  width: 100%;
  display: block;
}

.hover_img:hover {
  opacity: .9;
  }

#tile_thumb {
  transition:0.5s;
  opacity: 1 !important;
  }

#tile_thumb:hover {
  background-size:  10% 100%;
  transform:scale(1.5,1.5);
  transform-origin:center;
  opacity: 1 !important;
  background-color: black;
  }

.nav-bg {
  /*background-color: #5f788a;*/
  background-color: #000000a1;
  margin: 0px;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.center-div {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}


.center-div p {
  text-align: left;
}

.center-col {
  text-align: center;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-right: 10%;
}

ul .nav-item {
  background-color: #eeeeeed8;
  border-radius: 5px;
  margin-right: 5px;
  color: black!important;
}
.nav-pills > li > a {
  color: black!important;
}
.nav-pills > li > a:hover {
  opacity: .5;
}
.nav-pills > li > a.active {
  color: white!important;
  background-color: #000000a1!important;
}
